@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Santa Catalina";
  src: url("/fonts/SantaCatalina.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
}

/* latin-ext */
@font-face {
  font-family: "Sour Gummy";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourgummy/v1/8At7Gs2gPYuNDii97MjjLLvpghcw76OXBoIHpHgGTN1IOK1G.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sour Gummy";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourgummy/v1/8At7Gs2gPYuNDii97MjjLLvpghcw76OXBoIHpHgGTNNIOA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sour Gummy";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourgummy/v1/8At5Gs2gPYuNDii97MjjBrLbYfdJvDU5AZfP5qBNfNFQPA.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sour Gummy";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourgummy/v1/8At5Gs2gPYuNDii97MjjBrLbYfdJvDU5AZfP5qBDfNE.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* Remember to change all the affected value if you want ot resize the demo window div !!! */
.macOS-window {
  /* Do not change, this part has already matched the apple window style */
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 0.8px solid rgb(180, 180, 180);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  overflow: hidden;

  /* This part is up to you! */
  height: 400px;
  width: 560px;
}

.macOS-window-titlebar {
  /* Do not change, this part has already matched the apple window style */
  height: 28px;
  user-select: none;
  width: 100%;

  /* This part is optional */
  /* box-sizing: border-box;
    border-bottom: 0.8px solid rgb(180, 180, 180); */
}

.macOS-window-titlebar .button {
  /* Do not change, this part has already matched the apple window style */
  border-radius: 7px;
  background-color: rgb(222, 222, 222);
  box-sizing: border-box;
  display: inline-block;
  height: 11.8px;
  min-width: 11.8px;
  min-height: 11.8px;
  margin-top: 8px;
  margin-left: 8px;
  user-select: none;
  width: 11.8px;
}

.button:nth-of-type(1) {
  /* Do not change, this part has already matched the apple window style */
  background-color: rgb(236, 106, 94);
  border: 0.75px solid rgb(222, 95, 84);
}

.button:nth-of-type(2) {
  /* Do not change, this part has already matched the apple window style */
  margin-left: 3px;
  background-color: rgb(244, 191, 79);
  border: 0.75px solid rgb(231, 178, 75);
}

.button:nth-of-type(3) {
  /* Do not change, this part has already matched the apple window style */
  margin-left: 3px;
  background-color: rgb(97, 197, 84);
  border: 0.75px solid rgb(94, 185, 77);
}

.macOS-window-title {
  /* Do not change, this part has already matched the apple window style */
  /* color: rgb(80, 80, 80); */
  display: inline-block;
  font-size: 13.6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 20px;
  padding: 0;
  text-align: center;

  /* This part is up to you! */
  margin-left: calc(((100% - 200px) / 2) - 65px);
  width: 200px;
}

.macOS-window-content {
  /* This part is up to you! */
  color: rgb(80, 80, 80);
  font-size: 15px;
  height: calc(100% - 28px - 60px);
  overflow-y: auto;
  padding: 30px;
}

.macOS-window-content p {
  /* This part is up to you! */
  font-family: monaco;
}

.macOS-window-content::-webkit-scrollbar {
  /* This part is up to you! */
  display: none;
}

#jardinier:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 10px 5px black;
}

.dancing-line {
  background: linear-gradient(90deg, blue 50%, transparent 50%),
    linear-gradient(90deg, blue 50%, transparent 50%),
    linear-gradient(0deg, blue 50%, transparent 50%),
    linear-gradient(0deg, blue 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    15px 4px,
    15px 4px,
    4px 15px,
    4px 15px;
  background-position:
    0px 0px,
    200px 100px,
    0px 100px,
    200px 0px;
  padding: 10px;
  animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position:
      0px 0px,
      300px 116px,
      0px 150px,
      216px 0px;
  }
  100% {
    background-position:
      300px 0px,
      0px 116px,
      0px 0px,
      216px 150px;
  }
}
